.well {
  border: solid 1px red;
  background: #ddd;
}
.producto {
  flex: 1 250px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.producto .btn {
  border-radius: 0;
}
.banner {
  overflow: hidden;
  height: 400px;
  transition: all 0.5s ease;
}
.banner img {
  margin-top: -40vh;
  transition: all 0.5s ease;
}
.bg-dark .breadcrumb {
  background-color: rgba(225, 255, 255, 0.05);
}
.bg-dark .breadcrumb-item.active,
.bg-dark .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(225, 255, 255, 0.5);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgba(225, 255, 255, 0.05);
  border-color: rgba(225, 255, 255, 0.3);
}
@media screen and (max-width: 1199px) {
  .banner img {
    margin-top: -20vh;
  }
}
@media screen and (max-width: 767px) {
  .banner img {
    margin-top: auto;
  }
  footer {
    text-align: center;
  }
  footer .mb-3 {
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .banner {
    height: auto;
  }
}
